footer {
    background-color: var(--surface-color);

    @media (width >=1400px) {
        margin: 1rem;
    }

    .footer__layout {

        .brand__space {
            padding-bottom: 2.5rem;
        }

        .divider {
            &::after {
                content: '';
                display: block;
                margin-inline: auto;
                border-left: 1px solid;
                width: 1px;
                height: 100%;
            }
        }

        .link__block_wrapper {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            flex-wrap: wrap;
            gap: 2rem;
            padding-block: 2.5rem;
            border-top: 1px solid;

            .link__block {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                .link {
                    color: inherit;
                    font-size: min(1.2rem + .9vw, 2.5rem);

                    &::before {
                        content: '> ';
                        transition: opacity .3s;
                    }

                    &:hover {
                        &::before {
                            opacity: .5;
                        }
                    }
                }

                span {
                    opacity: .6;
                }
            }
        }
    }
}