
  @font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/assets/font/DM_Mono/DM_Mono_300_v14.woff2) format('woff2');
  }


  @font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/font/DM_Mono/DM_Mono_500_v14.woff2) format('woff2');
  }


  @font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/assets/font/DM_Mono/DM_Mono_300italic_v14.woff2) format('woff2');
  }


  @font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/font/DM_Mono/DM_Mono_regular_v14.woff2) format('woff2');
  }


  @font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/font/DM_Mono/DM_Mono_italic_v14.woff2) format('woff2');
  }


  @font-face {
  font-family: 'DM Mono';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/font/DM_Mono/DM_Mono_500italic_v14.woff2) format('woff2');
  }