navbar {
    --edge-offset-x: 1.5rem;
    --padding: 1rem;
    --transition-dur: .6s;
    position: fixed;
    z-index: 3;
    inset: 0;
    display: grid;
    grid-template-rows: max-content 1fr;
    pointer-events: none;

    .scrolled & {
        inset: 0 0 auto;
    }

    @media (width >=1400px) {
        --edge-offset-x: 3rem;
    }

    .main-wrapper {
        grid-column: 1;
        grid-row: 1;
        z-index: 1;
        display: flex;
        justify-content: center;
        pointer-events: initial;

        .main {
            display: grid;
            grid-template-columns: 1fr max-content 1fr;
            margin-inline: calc(var(--edge-offset-x) - var(--padding));
            padding: var(--padding);
            gap: clamp(5rem, 5vw, 10rem);
            flex-grow: 1;
            transition-property: translate, flex-grow, background-color;
            transition-duration: var(--transition-dur);
            translate: 0 .5rem;
            overflow: clip;

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                z-index: -1;
                background-color: rgb(35, 35, 35);
                opacity: 0;
                transition: opacity var(--transition-dur);
            }

            .scrolled & {
                flex-grow: 0;
                translate: 0 2.5vh;
                margin-inline: 10%;

                &::after {
                    opacity: 1;
                }

                @media (width < 768px) {
                    margin-inline: 5%;
                }
            }

            .scrolled.down & {
                translate: 0 -100%;
                transition-delay: calc(var(--transition-dur) * 1.25), 0s, 0s;
            }

            .open & {
                flex-grow: 1;

                &::after {
                    opacity: 0;
                }
            }

            .start,
            .center,
            .end {
                align-content: center;
                position: relative;
            }

            .start {
                justify-self: start;

                .search-btn {
                    padding: unset;
                    background: unset;
                    height: 32px;
                    width: 32px;
                    border: 1px solid currentColor;
                    display: grid;
                    place-content: center;
                    transition: calc(var(--transition-dur) / 2);

                    .scrolled & {
                        border-color: transparent;
                        scale: 1.5;
                    }

                    .open & {
                        border-color: currentColor;
                        scale: 1;
                    }

                    @media (width < 576px) {
                        border-color: transparent !important;
                        scale: 1.5 !important;
                    }
                }

                .search-input {
                    --radius: 0;
                    position: absolute;
                    padding: 0 .5rem;
                    top: 50%;
                    translate: 0 -50%;
                    left: 100%;
                    min-width: 7.5rem;
                    height: 32px;
                    background: unset;
                    border: 1px solid currentColor;
                    transition: opacity calc(var(--transition-dur) / 2);

                    .scrolled & {
                        opacity: 0;
                        pointer-events: none;
                    }

                    .open & {
                        opacity: 1;
                        pointer-events: initial;
                    }

                    @media (width < 576px) {
                        display: none;
                    }
                }
            }

            .center {
                a {
                    all: unset;
                    cursor: pointer;
                }

                .logo {
                    height: 2rem;
                    aspect-ratio: 1;
                    transition: scale calc(var(--transition-dur) / 2);
                    scale: 1.25;

                    .scrolled & {
                        scale: 1;
                    }
                }
            }

            .end {
                justify-self: end;

                .link__wrapper {
                    display: flex;
                    gap: 2rem;
                    position: absolute;
                    right: calc(100% + 5rem);
                    transition: opacity calc(var(--transition-dur) / 2);

                    :is(.open, .scrolled) & {
                        opacity: 0;
                        pointer-events: none;
                    }

                    .scrolled & {
                     visibility: hidden;
                    }

                    .link {
                        display: flex;
                        line-height: 1;
                        font-family: 'DM Mono', monospace;
                        padding-block: .25rem;
                    }

                    @media (width < 1400px) {
                        display: none;
                    }
                }

                .menu-btn {
                    height: 16px;
                    padding-block: .25rem;
                    background: unset;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &::before,
                    &::after {
                        content: '';
                        display: block;
                        background-color: var(--color);
                        height: 2px;
                        width: 32px;
                        transition: .3s;
                    }

                    &::before {
                        --_dir: 1;
                        translate: 4px 0;
                        scale: .75 1;
                    }

                    &::after {
                        --_dir: -1;
                    }

                    .open & {

                        &::before,
                        &::after {
                            scale: 1;
                            rotate: calc(45deg * var(--_dir));
                            translate: 0 calc(7px * var(--_dir));
                        }
                    }
                }
            }
        }
    }

    .menu {
        display: grid;
        grid-template-columns: 7fr 5fr;
        grid-template-rows: subgrid;
        grid-column: 1;
        grid-row: 1 / span 2;
        padding-left: var(--edge-offset-x);
        transition: translate var(--transition-dur);
        translate: 0 -100%;
        background-color: var(--bg-color);
        overflow: clip;
        pointer-events: initial;
    
        .open & {
            translate: 0 0;
        }

        .scrolled & {
            margin-inline: 10%;
            padding-left: var(--padding);

            .open & {
                translate: 0 2.5vh;
            }

            @media (width < 768px) {
                margin-inline: 5%;
            }
        }

        .left {
            grid-row: 1 / 3;
            container-type: inline-size;
            display: flex;
            align-items: center;

            .link__wrapper {
                display: flex;
                flex-direction: column;
                padding-block: 7.5rem;

                .link {
                    all: unset;
                    cursor: pointer;
                    font-size: 8.5cqw;
                    line-height: 1;
                    transition-property: opacity, translate;
                    transition-duration: var(--transition-dur);
                    padding-block: 3.5%;

                    .scrolled & {
                        font-size: 5cqw;
                        padding-block: 5%;
                    }
                }

                @media (hover: hover) {
                    &:has(.link:hover) .link:not(:hover) {
                        opacity: .3;
                        translate: -25% 0;
                    }
                }
            }

            @media (width < 768px) {
                grid-column: span 2;

                .link {
                    font-size: 14cqw !important;

                    .scrolled & {
                        font-size: 10cqw !important;
                    }
                }
            }
        }

        .right {
            grid-column: 2;
            grid-row: span 2;
            background-image: url(/assets/image/base/nav_left.webp);
            background-size: cover;
            display: flex;
            justify-content: center;
            z-index: -1;

            .dec__logo {
                opacity: .75;
                width: 35%;
                aspect-ratio: 1;
            }

            @media (width < 768px) {
                display: none;
            }
        }

        .bottom {
            grid-column: span 2;
            align-self: end;
            display: flex;
            justify-content: space-between;
            padding-bottom: 2rem;
            padding-right: calc(var(--edge-offset-x) + var(--padding));

            .scrolled & {
                padding-bottom: var(--padding);
                padding-right: var(--padding);
            }
        }
    }
}

body:has(navbar.open) {
    overflow: clip;
}