button, .btn {
    --padding-x: 1em;
    --padding-y: .6em;
    --radius: 0;
    --bg: var(--surface-color, rgb(250, 250, 250));

    display: inline-block;
    padding: var(--padding-y, var(--padding, .5em)) var(--padding-x, var(--padding, .5em));
    color: var(--color, inherit);
    background: var(--bg);
    border: var(--border, unset);
    border-radius: var(--radius, .35em);
    font-family: inherit;
    font-size: var(--font-size, 1rem);
    font-weight: 500;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    transition: .15s;

    &:not(:disabled) {
        cursor: pointer;
    }

    &:focus-visible {
        outline: 1px solid var(--accent-color, #b7f7ff);
    }
}

a.btn {
    text-decoration: none;
    opacity: 1;
}