:root {
    color-scheme: dark !important;
}

@media (prefers-reduced-motion: reduce) {

    *,
    ::before,
    ::after {
        animation: none !important;
        transition: none !important;
    }
}

._no-motion {

    *,
    ::before,
    ::after {
        animation: none !important;
        transition: none !important;
    }
}

.hero__section {
    min-height: 100svh;
    align-content: center;
    padding-inline: 5% !important;
    position: relative;
    overflow-x: clip;

    &::before {
        --size: 50vh;
        content: '';
        position: absolute;
        inset: 0 auto auto 0;
        width: var(--size);
        aspect-ratio: 5 / 8;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
        opacity: 0;
    }

    &.ivp {
        &::before {
            animation: heroBG infinite both 28s 4s;
            background-image: url(/assets/image/pages/home/hero_bg.avif);
        }
    }

    .top_txt {
        display: block;
        margin-bottom: 1.5rem;
    }

    .main__wrap {
        container-type: inline-size;

        .heading {
            font-size: 9.5cqw;
            line-height: .8;
            margin: 0;

            span {
                display: block;
            }

            .first {}

            .second {
                text-align: right;
                margin-top: 1rem;
            }
        }

        .pra {
            margin-top: 1rem;
            max-width: 36ch;

            span {
                opacity: .6;
            }
        }

        .link__wrapper {
            background: var(--surface-color);
            align-self: end;
            width: fit-content;
            margin-top: 1rem;

            .link {
                display: inline-block;
                padding: 1rem .75rem;
                transition: opacity .3s;
            }

            span {
                opacity: .3;
            }

            @media (hover: hover) {
                &:has(.link:hover) .link:not(:hover) {
                    opacity: .6;
                }
            }
        }

        @media (width >=1200px) {
            display: grid;

            &>* {
                grid-column: 1 / 1;
                grid-row: 1 / 1;
            }

            .heading {
                font-size: 6cqw;
            }

            .pra {
                justify-self: end;
                max-width: min(32.5%, 36ch);
                margin: 0;
                margin-top: -.25lh;
            }
        }
    }
}

@keyframes heroBG {
    0%, 100% {
        opacity: 0;
        transform: translate(-75%, 0) rotate(-25deg) scale(1);
        filter: hue-rotate(0deg);
    }

    25% {
        opacity: 1;
        transform: translate(calc(100vw - 0%), calc(100vh - 100%)) rotate(50deg) scale(.5);
        filter: hue-rotate(45deg);
    }

    50% {
        opacity: 0;
        transform: translate(calc(100vw - 125%), -10vh) rotate(-10deg) scale(.6);
        filter: hue-rotate(120deg);
    }

    75% {
        opacity: 1;
        transform: translate(-5vw, 20vh) rotate(90deg) scale(.75);
        filter: hue-rotate(250deg);
    }
}


.vision__section {

    .vision__layout {

        .main__pra {
            margin-bottom: 2.5rem;

            .sp {
                .ivp & {
                    animation: flickerColor .5s .5s;
                }

                &:last-child {
                    animation-delay: 1s;
                }
            }
        }

        .wrapper {
            display: contents;
        }

        .info__block {
            --bd: 0s;
            --i: 0;
            position: relative;
            container-type: inline-size;

            &:not(:last-child) {
                padding-bottom: 2rem;

                &::after {
                    content: '';
                    position: absolute;
                    inset: auto 0 0;
                    height: 1px;
                    background-color: currentColor;
                    opacity: 0;
                    translate: -100% 0;
                    transition: .3s .6s;
                    transition-property: opacity, translate, top;
                }

                &.ivp {
                    &::after {
                        translate: 0;
                        opacity: 1;
                    }
                }
            }

            &:nth-child(2) {
                --i: 1;
            }

            &:nth-child(3) {
                --i: 2;
            }

            .heading {
                font-size: 7.5cqw;

                span {
                    --d: 0s;

                    .ivp & {
                        animation: flickerColor .3s calc(var(--bd) + var(--d) * var(--i));
                    }
                }
            }

            @media (width >=1800px) {
                &.ivp {
                    &::after {
                        --_t: 0 75vh;
                        animation: _translate both;
                        animation-timeline: view();
                        animation-range: exit;
                        top: 0 !important;
                    }
                }
            }
        }

        @media (width >=992px) {
            min-height: 100svh;
            grid-template-rows: max-content max-content 1fr max-content;

            .main__pra {
                margin-bottom: 5rem;
            }

            .info__block {
                --bd: 1s;
                margin-bottom: 2rem;

                &:not(:last-child) {
                    padding-right: 1rem;

                    &::after {
                        height: 100%;
                        width: 1px;
                        inset: 0 0 0 calc(100% + var(--gap-x) / 2);
                        top: 100%;
                        transition-delay: 0s;
                    }
                }

                .heading {
                    span {
                        --d: .3s;
                    }
                }
            }

        }
    }
}


.inventory__section {

    .inventory__layout {

        .header__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: var(--space-2) var(--space-4);

            .sec__heading {
                margin: 0;
            }

            p {
                max-width: 45ch;
            }

            margin-bottom: var(--space-2);
        }

        .item__wrapper {
            grid-template-rows: repeat(4, max-content);
            view-timeline: --in-sec;

            .item {
                --padding: .75rem;
                border: 1px solid;
                grid-row: span 4;
                display: grid;
                grid-template-rows: subgrid;
                gap: 0;

                .img {
                    aspect-ratio: 16 / 9;
                    object-fit: cover;
                }

                .title {
                    margin: 0;
                    padding: var(--padding);
                }

                .tag__wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    gap: var(--space);
                    border-block: 1px solid;
                    padding: var(--padding);

                    a {
                        display: block;
                        color: inherit;
                        font-family: var(--ff-monospace);
                        font-size: .8rem;
                        padding: .25rem .5rem;
                        background-color: var(--surface-color-2);
                    }
                }

                .action__wrapper {
                    padding: var(--padding);

                    .action__btn {
                        --padding-y: 1.5rem;
                        display: block;
                        font-family: var(--ff-monospace);
                        background-color: var(--surface-color);
                    }
                }

                @media (width >=1800px) {
                    &.sp {
                        --_t: 0 -25vh;
                        animation: _translate both;
                        animation-timeline: --in-sec;
                    }
                }
            }
        }

        .info__wrapper {
            &:last-child {
                @media (width >=768px) {
                    display: grid !important;
                    grid-template-columns: 1fr max-content 1fr;

                    > :last-child {
                        justify-self: end;
                    }
                }
            }
        }
    }
}


.pricing__section {
    --card-height: 300px;
    --padding-x: var(--edge-offset-x);
    margin-bottom: calc(var(--card-height) / 4);

    @media (width >=576px) {
        --card-height: 500px;
    }

    >span {
        display: block;
        text-align: center;

        &.dec_meta {
            margin-bottom: 2rem;
        }

        &.h4 {
            margin-bottom: 5rem;
        }
    }

    .plan__wrapper {
        position: relative;
        min-height: var(--card-height);

        .plan__card {
            position: absolute;
            min-height: var(--card-height);
            inset: 0;
            padding: 2rem;
            container-type: inline-size;

            &.main {
                width: min(95%, 1000px);
                margin-inline: auto;
                background-color: var(--surface-color);
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .top {
                    .h2 {
                        font-family: var(--ff-sans);
                        line-height: .8;
                    }
                }

                p {
                    max-width: 50ch;
                }
            }

            &.left,
            &.right {
                width: min(45%, 500px);
                background-color: var(--surface-color-2);
                z-index: -1;
                translate: 0 25%;

                &::after {
                    content: 'NULL';
                    line-height: .75;
                    font-size: 27.5cqw;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    opacity: .25;
                }

                @media (width >=1800px) {
                    --_t: 0 -25%;
                    animation: _translate both;
                    animation-timeline: view();
                    animation-range: contain cover;
                }
            }

            &.right {
                margin-left: auto;

                &::after {
                    left: auto;
                    right: 0;
                }

                .dec_meta {
                    display: block;
                    text-align: end;
                }
            }
        }
    }
}

.manifest__section {

    .manifest__layout {

        @media (width < 1400px) {
            column-gap: 5%;
        }

        .divider {
            &::after {
                content: '';
                display: block;
                margin-inline: auto;
                border-left: 1px solid;
                width: 1px;
                height: 100%;
                scale: 1 0;
                transition: scale .6s;
                transform-origin: top;
            }

            .ivp & {
                &::after {
                    scale: 1;
                }
            }

            @media (width < 1400px) {
                display: none;
            }
        }

        .header__wrapper {
            margin-bottom: 2.5rem;
        }

        .item {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            color: inherit;
            pointer-events: none;

            .img,
            .title,
            .dec_link {
                pointer-events: initial;
            }

            .img {
                aspect-ratio: 16 / 9;
            }

            .title {
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: clip;
            }

            .wrapper {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .info__wrapper {
                margin-block: 1rem 0 !important;
            }

            @media (width < 1400px) {
                padding-bottom: 4rem;
            }
        }

        .left,
        .right {
            @media (width < 1400px) {
                display: contents;
            }
        }

        .left {
            .item {
                height: 100%;
            }
        }

        .right {

            @media (width >=1400px) {
                display: flex;
                flex-direction: column;
                gap: 4rem;

                .item {
                    position: relative;
                    flex-direction: row;

                    .img {
                        max-height: 150px;
                    }

                    &:not(:last-child) {
                        &::after {
                            content: '';
                            position: absolute;
                            inset: auto 0 -2rem;
                            border-top: 1px solid;
                            transition: scale .6s;
                            transform-origin: left;
                            scale: 0 1;
                        }

                        &:nth-child(2) {
                            &::after {
                                transition-delay: .3s;
                            }
                        }

                        .ivp & {
                            &::after {
                                scale: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}


.team__section {
    container-type: inline-size;
    position: relative;
    padding-block: 0 !important;
    margin-block: var(--padding-y, var(--padding, 0));
    overflow: clip;

    &::before {
        content: 'TEAM';
        position: absolute;
        inset: auto 0 0;
        font-size: 35cqw;
        margin-left: -.01em;
        font-weight: 800;
        line-height: .72;
        overflow: clip;
        z-index: -1;
        transform-origin: bottom center;
        transition: translate .6s .3s;
        translate: 0 100%;
    }

    &.ivp {
        &::before {
            translate: 0;
        }
    }

    &::after {
        content: '';
        position: absolute;
        inset: auto 0 0;
        height: 30%;
        background: linear-gradient(#0044ff00, #0337c576 40%, var(--bg-color));
    }

    .team__layout {

        .person__wrapper {
            display: flex;
            align-items: end;
            margin-inline: calc(var(--edge-offset-x) * -1);
            padding-top: max(8%, 10rem);
            overflow: clip;

            .person {
                position: relative;
                transform-origin: bottom center;

                &::after {
                    content: '';
                    position: absolute;
                    inset: 0 0 auto;
                    height: 45%;
                    background: linear-gradient(var(--bg-color), rgb(from var(--bg-color) r g b / 0));
                    filter: blur(calc(1vw + 1vh));
                }

                &.main {
                    scale: 1.5;
                }

                &.left,
                &.right {
                    z-index: -1;
                    scale: 1.35;
                }

            }

            @media (width >=576px) {
                view-timeline: --pr;
                margin-inline: 0;
                padding-inline: 10%;

                .person {
                    animation: _translate both;
                    animation-timeline: --pr;
                    animation-range: cover contain 75%;

                    &.main {
                        scale: 1.2;
                        translate: 0 25%;
                    }

                    &.left,
                    &.right {
                        --d: -1;
                        scale: 1;
                        translate: calc(50% * var(--d)) 25%;
                    }

                    &.right {
                        --d: 1;
                    }
                }
            }
        }
    }

    .action__wrapper {
        position: absolute;
        inset: auto 0 0;
        z-index: 2;
        margin-inline: var(--edge-offset-x);
        display: flex;
        justify-content: center;
        gap: 21%;
        padding-right: 3%;
        padding-bottom: 2rem;

        .action__block {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
        }
    }
}

.team__helper_section {
    --padding-y: 10vh !important;

    >* {
        display: block;
        text-align: center;
        margin-inline: auto;
    }

    .h4 {
        margin-block: 1rem;
    }

    .pra {
        max-width: 51ch;
        margin-bottom: 2rem;
    }
}