:root {
    color-scheme: dark !important;
}

.hero__section {
    min-height: 100svh;
    align-content: center;
    padding-inline: 5% !important;

    .top_txt {
        display: block;
        margin-bottom: 1.5rem;
    }

    .main__wrap {
        container-type: inline-size;

        .heading {
            font-size: 9.5cqw;
            line-height: .8;
            margin: 0;

            span {
                display: block;
            }

            .first {}

            .second {
                text-align: right;
                margin-top: 1rem;
            }
        }

        .pra {
            margin-top: 1rem;
            max-width: 36ch;

            span {
                opacity: .6;
            }
        }

        .link__wrapper {
            background: var(--surface-color);
            align-self: end;
            width: fit-content;
            margin-top: 1rem;

            .link {
                display: inline-block;
                padding: 1rem .75rem;
                transition: opacity .3s;
            }

            span {
                opacity: .3;
            }

            @media (hover: hover) {
                &:has(.link:hover) .link:not(:hover) {
                    opacity: .6;
                }
            }
        }

        @media (width >=1200px) {
            display: grid;

            &>* {
                grid-column: 1 / 1;
                grid-row: 1 / 1;
            }

            .heading {
                font-size: 6cqw;
            }

            .pra {
                justify-self: end;
                max-width: min(32.5%, 36ch);
                margin: 0;
                margin-top: -.25lh;
            }
        }
    }
}


.vision__section {

    .vision__layout {

        .main__pra {
            margin-bottom: 2.5rem;
        }

        .wrapper {
            display: contents;
        }

        .info__block {
            position: relative;
            container-type: inline-size;

            &:not(:last-child) {
                padding-bottom: 2rem;

                &::after {
                    content: '';
                    position: absolute;
                    inset: auto 0 0;
                    height: 1px;
                    background-color: currentColor;
                }
            }

            .heading {
                font-size: 7.5cqw;
            }
        }

        @media (width >=992px) {
            min-height: 100svh;
            grid-template-rows: max-content max-content 1fr max-content;

            .main__pra {
                margin-bottom: 5rem;
            }

            .info__block {
                margin-bottom: 2rem;

                &:not(:last-child) {
                    padding-right: 1rem;

                    &::after {
                        height: 100%;
                        width: 1px;
                        inset: 0 0 0 calc(100% + var(--gap-x) / 2);
                    }
                }
            }

        }
    }
}


.inventory__section {

    .inventory__layout {

        .header__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: var(--space-2) var(--space-4);

            .sec__heading {
                margin: 0;
            }

            p {
                max-width: 45ch;
            }

            margin-bottom: var(--space-2);
        }

        .item__wrapper {
            grid-template-rows: repeat(4, max-content);

            .item {
                --padding: .75rem;
                border: 1px solid;
                grid-row: span 4;
                display: grid;
                grid-template-rows: subgrid;
                gap: 0;

                .img {
                    aspect-ratio: 16 / 9;
                    object-fit: cover;
                }

                .title {
                    margin: 0;
                    padding: var(--padding);
                }

                .tag__wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    gap: var(--space);
                    border-block: 1px solid;
                    padding: var(--padding);

                    a {
                        display: block;
                        color: inherit;
                        font-family: var(--ff-monospace);
                        font-size: .8rem;
                        padding: .25rem .5rem;
                        background-color: var(--surface-color-2);
                    }
                }

                .action__wrapper {
                    padding: var(--padding);

                    .action__btn {
                        --padding-y: 1.5rem;
                        display: block;
                        font-family: var(--ff-monospace);
                        background-color: var(--surface-color);
                    }
                }
            }
        }
    }
}


.pricing__section {
    --card-height: 300px;
    --padding-x: var(--edge-offset-x);
    margin-bottom: calc(var(--card-height) / 4);

    @media (width >=576px) {
        --card-height: 500px;
    }

    >span {
        display: block;
        text-align: center;

        &.dec_meta {
            margin-bottom: 2rem;
        }

        &.h4 {
            margin-bottom: 5rem;
        }
    }

    .plan__wrapper {
        position: relative;
        min-height: calc(100% + var(--card-height));

        .plan__card {
            position: absolute;
            min-height: var(--card-height);
            inset: 0;
            padding: 2rem;
            container-type: inline-size;

            &.main {
                width: min(95%, 1000px);
                margin-inline: auto;
                background-color: var(--surface-color);
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .top {
                    .h2 {
                        font-family: var(--ff-sans);
                        line-height: .8;
                    }
                }

                p {
                    max-width: 50ch;
                }
            }

            &.left,
            &.right {
                width: min(45%, 500px);
                background-color: var(--surface-color-2);
                z-index: -1;
                translate: 0 25%;

                &::after {
                    content: 'NULL';
                    line-height: .75;
                    font-size: 27.5cqw;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    opacity: .25;
                }
            }

            &.right {
                margin-left: auto;

                &::after {
                    left: auto;
                    right: 0;
                }

                .dec_meta {
                    display: block;
                    text-align: end;
                }
            }
        }
    }
}

.mainfest__section {

    .mainfest__layout {

        @media (width < 1400px) {
            column-gap: 5%;
        }

        .divider {
            &::after {
                content: '';
                display: block;
                margin-inline: auto;
                border-left: 1px solid;
                width: 1px;
                height: 100%;
            }

            @media (width < 1400px) {
                display: none;
            }
        }

        .header__wrapper {
            margin-bottom: 2.5rem;
        }

        .item {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .img {
                aspect-ratio: 16 / 9;
            }

            .title {
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: clip;
            }

            .wrapper {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .info__wrapper {
                margin-block: 1rem 0 !important;
            }

            @media (width < 1400px) {
                padding-bottom: 4rem;
            }
        }

        .left,
        .right {
            @media (width < 1400px) {
                display: contents;
            }
        }

        .left {
            .item {
                height: 100%;
            }
        }

        .right {
            .item {

                @media (width >=1400px) {
                    flex-direction: row;
                    padding-block: 1.5rem;

                    border-top: 1px solid;

                    &:last-child {
                        border-bottom: 1px solid;
                    }

                    .img {
                        max-height: 150px;
                    }
                }
            }
        }
    }
}


.team__section {
    container-type: inline-size;
    position: relative;
    padding-block: 0 !important;
    margin-block: var(--padding-y, var(--padding, 0));
    overflow: clip;

    &::before {
        content: 'TEAM';
        position: absolute;
        inset: auto 0 0;
        font-size: 35cqw;
        margin-left: -.01em;
        font-weight: 800;
        line-height: .72;
        overflow: clip;
        z-index: -1;
        transform-origin: bottom center;
    }

    &::after {
        content: '';
        position: absolute;
        inset: auto 0 0;
        height: 30%;
        background: linear-gradient(#0044ff00, #0337c576 40%, #000);
    }

    .team__layout {

        .person__wrapper {
            display: flex;
            align-items: end;
            margin-inline: calc(var(--edge-offset-x) * -1);
            padding-top: max(8%, 10rem);
            overflow: clip;

            .person {
                position: relative;
                transform-origin: bottom center;

                &::after {
                    content: '';
                    position: absolute;
                    inset: 0 0 auto;
                    height: 45%;
                    background: linear-gradient(#000, #00000000);
                    filter: blur(calc(1vw + 1vh));
                }

                &.main {
                    scale: 1.5;
                }

                &.left,
                &.right {
                    z-index: -1;
                    scale: 1.35;
                }
            }

            @media (width >=576px) {
                margin-inline: 0;
                padding-inline: 10%;

                .person {
                    &.main {
                        scale: 1.2;
                    }

                    &.left,
                    &.right {
                        scale: 1;
                    }
                }
            }
        }
    }

    .action__wrapper {
        position: absolute;
        inset: auto 0 0;
        z-index: 2;
        margin-inline: var(--edge-offset-x);
        display: flex;
        justify-content: center;
        gap: 21%;
        padding-right: 3%;
        padding-bottom: 2rem;

        .action__block {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
        }
    }
}

.team__helper_section {
    --padding-y: 10vh !important;

    >* {
        display: block;
        text-align: center;
        margin-inline: auto;
    }

    .h4 {
        margin-block: 1rem;
    }

    .pra {
        max-width: 51ch;
        margin-bottom: 2rem;
    }
}