.hero__section {
    min-height: 100svh;
    align-content: center;
    padding-inline: 5% !important;

    .top_txt {
        display: block;
        margin-bottom: 1.5rem;
    }

    .main__wrap {
        container-type: inline-size;

        .heading {
            font-size: 9.5cqw;
            line-height: .8;
            margin: 0;

            span {
                display: block;
            }

            .first {}

            .second {
                text-align: right;
                margin-top: 1rem;
            }
        }

        .pra {
            margin-top: 1rem;
            max-width: 36ch;

            span {
                opacity: .6;
            }
        }

        .link__wrapper {
            background: var(--surface-color);
            align-self: end;
            width: fit-content;
            margin-top: 1rem;

            .link {
                display: inline-block;
                padding: 1rem .75rem;
                transition: opacity .3s;
            }

            span {
                opacity: .3;
            }

            @media (hover: hover) {
                &:has(.link:hover) .link:not(:hover) {
                    opacity: .6;
                }
            }
        }

        @media (width >=1200px) {
            display: grid;

            &>* {
                grid-column: 1 / 1;
                grid-row: 1 / 1;
            }

            .heading {
                font-size: 6cqw;
            }

            .pra {
                justify-self: end;
                max-width: min(32.5%, 36ch);
                margin: 0;
                margin-top: -.25lh;
            }
        }
    }
}


.vision__section {

    .vision__layout {

        .main__pra {
            margin-bottom: 2.5rem;
        }

        .wrapper {
            display: contents;
        }

        .info__block {
            position: relative;
            container-type: inline-size;

            &:not(:last-child) {
                padding-bottom: 2rem;

                &::after {
                    content: '';
                    position: absolute;
                    inset: auto 0 0;
                    height: 1px;
                    background-color: currentColor;
                }
            }

            .heading {
                font-size: 7.5cqw;
            }
        }

        @media (width >=992px) {
            min-height: 100svh;
            grid-template-rows: max-content max-content 1fr max-content;

            .main__pra {
                margin-bottom: 5rem;
            }

            .info__block {
                margin-bottom: 2rem;

                &:not(:last-child) {
                    padding-right: 1rem;

                    &::after {
                        height: 100%;
                        width: 1px;
                        inset: 0 0 0 calc(100% + var(--gap-x) / 2);
                    }
                }
            }

        }
    }
}


.inventory__section {

    .inventory__layout {

        .header__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: var(--space-2) var(--space-4);

            .sec__heading {
                margin: 0;
            }

            p {
                max-width: 45ch;
            }

            margin-bottom: var(--space-2);
        }

        .item__wrapper {

            .item {
                --padding: .75rem;
                border: 1px solid;

                .img {
                    aspect-ratio: 16 / 9;
                    object-fit: cover;
                }

                .title {
                    margin: 0;
                    padding: var(--padding);
                }

                .tag__wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    gap: var(--space);
                    border-block: 1px solid;
                    padding: var(--padding);

                    a {
                        display: block;
                        color: inherit;
                        font-family: var(--ff-monospace);
                        font-size: .9rem;
                        padding: .5rem 1rem;
                        background-color: var(--surface-color-2);
                    }
                }

                .action__wrapper {
                    padding: var(--padding);

                    .action__btn {
                        --padding-y: 1.5rem;
                        display: block;
                        font-family: var(--ff-monospace);
                        background-color: var(--surface-color);
                    }
                }
            }
        }
    }
}


.pricing__section {
    --padding-x: var(--edge-offset-x);
    margin-bottom: 125px;

    > span {
        display: block;
        text-align: center;

        &.dec_meta {
            margin-bottom: 2rem;
        }

        &.h4 {
            margin-bottom: 5rem;
        }
    }

    .plan__wrapper {
        position: relative;
        min-height: calc(100% + 500px);

        .plan__card {
            position: absolute;
            min-height: 500px;
            inset: 0;
            padding: 2rem;
            container-type: inline-size;

            &.main {
                width: min(95%, 1000px);
                margin-inline: auto;
                background-color: var(--surface-color);
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .top {
                    .h2 {
                        font-family: var(--ff-sans);
                        line-height: .8;
                    }
                }

                p {
                    max-width: 50ch;
                }
            }

            &.left, &.right {
                width: min(45%, 500px);
                background-color: var(--surface-color-2);
                z-index: -1;
                translate: 0 25%;

                &::after {
                    content: 'NULL';
                    line-height: .75;
                    font-size: 27.5cqw;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    opacity: .25;
                }
            }

            &.right {
                margin-left: auto;

                &::after {
                    left: auto;
                    right: 0;
                }

                .dec_meta {
                    display: block;
                    text-align: end;
                }
            }
        }
    }
}