main {
    padding-top: 10vh;
}

.inventory__section {

    .inventory__layout {

        .left {
            .detail__wrapper {
                padding: 1rem;
                background-color: var(--surface-color);

                .header__wrapper {
                    border-bottom: 1px solid;
                    padding-bottom: 1rem;
                    margin-bottom: 1.5rem;

                    .title {
                        line-height: .8;
                    }
                }

                .text__block_wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    border-bottom: 1px solid;
                    padding-bottom: 1.5rem;

                    .text__block {
                        display: flex;
                        justify-content: space-between;
                    }
                }

                .tag__wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    gap: .5rem;
                    padding-top: 1rem;

                    a {
                        display: block;
                        color: inherit;
                        font-family: var(--ff-monospace);
                        font-size: .8rem;
                        padding: .25rem .5rem;
                        background-color: var(--surface-color-2);
                    }
                }
            }
        }

        .main {}

        .right {}

    }
}

.preview-window {
    inset: auto 0 0;
    width: auto;
    max-width: 1600px;
    height: 90dvh;
    padding: 0;
    translate: 0 100%;
    background-color: var(--color);
    transition: .6s allow-discrete var(--ef-menu);
    overscroll-behavior: contain;

    &:popover-open {
        translate: 0;
    }

    @starting-style {
        translate: 0 100% !important;
    }

    .preview-header {
        position: absolute;
        inset: .5rem .5rem auto auto;
        display: flex;
        gap: .5rem;

        .btn {
           color: #fff;
           background-color: rgb(0 0 0 / .3);
           padding: .75rem;
           line-height: .8;
        }
    }

    .preview-iframe {
        display: block;
        width: 100%;
        height: 100%;
    }
}