main {
    padding-top: 10vh;
}

.inventory__section {

    .inventory__layout {

        .left {
            .detail__wrapper {
                padding: 1rem;
                background-color: var(--surface-color);

                .header__wrapper {
                    border-bottom: 1px solid;
                    padding-bottom: 1rem;
                    margin-bottom: 1.5rem;

                    .title {
                        line-height: .8;
                    }
                }

                .text__block_wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    border-bottom: 1px solid;
                    padding-bottom: 1.5rem;

                    .text__block {
                        display: flex;
                        justify-content: space-between;
                    }
                }

                .tag__wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    gap: .5rem;
                    padding-top: 1rem;

                    a {
                        display: block;
                        color: inherit;
                        font-family: var(--ff-monospace);
                        font-size: .8rem;
                        padding: .25rem .5rem;
                        background-color: var(--surface-color-2);
                    }
                }
            }
        }

        .main {

        }

        .right {

        }

    }
}