main {
    padding-top: 10vh;
}

.manifest__section {

    .manifest__layout {

        .left {

            .toc__wrapper {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem;
                max-height: calc(100vh - 2rem);
                background-color: var(--surface-color);
                overflow: clip;

                .header__wrapper {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid;
                    padding-bottom: 1rem;

                    .title {
                        line-height: .8;
                    }
                }

                .wrapper {
                    max-height: 100%;
                    overflow-y: auto;

                    .toc {
                        display: flex;
                        flex-direction: column;
                        gap: .25rem;
                        scroll-target-group: auto;
                        padding-left: 1rem;
                        border-left: 1px solid;

                        &::after {
                            content: '';
                            position: absolute;
                            background-color: var(--link-color);
                            width: 1px;
                            position-anchor: --toc-active;
                            left: 1rem;
                            top: anchor(top);
                            bottom: anchor(bottom);
                            transition: .3s;
                        }

                        .block {

                            .block & {
                                margin-left: 1rem;
                            }

                            &:has(.block .link:target-current) {
                                >.link {
                                    color: var(--link-color);
                                }
                            }

                            .link {
                                display: block;
                                color: inherit;
                                padding-block: .5rem;
                                transition: color .3s;

                                &:target-current {
                                    color: var(--link-color);
                                    anchor-name: --toc-active;
                                }
                            }
                        }
                    }
                }
            }
        }

        .main {}

        .right {}
    }
}