main {
    padding-top: 7.5rem;
}

.manifest__section {

    .header__wrapper {
        margin-bottom: 2.5rem;

        .info__wrapper {
            margin-bottom: 1rem !important;
        }
    }

    .item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: inherit;
        pointer-events: none;
        margin-bottom: 5rem;

        .img, .title, .dec_link {
            pointer-events: initial;
        }

        .img {
            aspect-ratio: 16 / 9;
        }

        .title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: clip;
        }

        .wrapper {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .info__wrapper {
            margin-block: 1rem 0 !important;
        }
    }
}