:root {
    scrollbar-gutter: stable;
}

.dec_bra {

    &::before,
    &::after {
        display: inline-block;
        white-space: pre;
        transition: .3s;
    }

    &::before {
        --_dir: -1;
        content: '[ ';
    }

    &::after {
        --_dir: 1;
        content: ' ]';
    }
}

.dec_meta {
    line-height: 1;
    font-family: var(--ff-monospace);
}

.dec_link {
    color: inherit;

    &::before,
    &::after {
        opacity: .6;
    }

    &:hover {
        text-decoration: none;
        opacity: 1;

        &::before,
        &::after {
            opacity: 1;
            translate: calc(var(--_dir) * .5rem) 0;
        }
    }
}

backdrop {
    --blur: calc(1.5vh + 2vw);
}


@media (width < 768px) {

    .dec_meta,
    .info__wrapper {
        font-size: .8rem;
    }

    .d-md {
        display: none !important;
    }
}