:root {
    scrollbar-gutter: stable;
    --smt-bg: rgb(from var(--surface-color) r g b / .6);
    --ef-menu: cubic-bezier(0.19, 1, 0.22, 1);
}

.dec_bra {

    &::before, &::after {
        display: inline-block;
        white-space: pre;
        transition: opacity .3s, translate .3s;
    }

    &::before {
        --_dir: -1;
        content: '[ ';
    }

    &::after {
        --_dir: 1;
        content: ' ]';
    }
}

.dec_meta {
    line-height: 1;
    font-family: var(--ff-monospace);
}

.dec_link {
    color: inherit;

    &::before, &::after {
        opacity: .6;
    }

    &:hover {
        text-decoration: none;
        opacity: 1;

        &::before, &::after {
            opacity: 1;
            translate: calc(var(--_dir) * .5rem) 0;
        }
    }
}

@media (width < 768px) {

    .dec_meta, .info__wrapper {
        font-size: .8rem;
    }

    .d-md {
        display: none !important;
    }
}

backdrop {
    --blur: calc(2vh + 2vw);
}

code {
    font-family: var(--ff-monospace);
}

[data-code-lang] {
    font-family: var(--ff-monospace);
    position: relative;
    font-weight: 400;

    .header {
        .multiline & {
            position: sticky;
            top: 0;
            backdrop-filter: blur(1rem);
            z-index: 2;
        }

        .lang {
            text-transform: uppercase;
        }

        .copy {
            &::before {
                content: '[ COPY ]';
            }

            &.copied::before {
                content: '[ COPIED ]';
            }
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    *, ::before, ::after {
        animation: none !important;
        transition: none !important;
        scroll-behavior: auto !important;
    }
}

[data-pref-motion="false"] {
    *, ::before, ::after {
        animation: none !important;
        transition: none !important;
        scroll-behavior: auto !important;
    }
}

.preference-menu, .search-menu {
    display: grid;
    grid-template-rows: max-content 1fr;
    visibility: hidden;
    inset: auto 0 0;
    height: auto;
    width: auto;
    min-width: clamp(250px, 100%, 600px);
    max-height: 80dvh;
    padding: 1.5rem 1rem;
    overflow: clip;
    translate: 0 100%;
    transition: .6s allow-discrete;
    transition-property: translate, visibility, overlay;
    transition-timing-function: var(--ef-menu);
    background-color: var(--smt-bg);
    backdrop-filter: blur(calc(2vh + .75vw));
    overscroll-behavior: contain;

    &.search-menu {
        max-width: 800px;
        margin-inline: auto;
        height: 75svh;
    }

    @media (width >=768px) {
        padding: 2rem;

        &.preference-menu {
            margin: .5rem;
            inset: 0 0 0 auto;
            translate: 110% 0;
            max-height: initial;
        }

        &:popover-open {
            @starting-style {
                translate: 110% 0;
            }
        }
    }

    &:popover-open {
        translate: 0;
        visibility: visible;

        @starting-style {
            translate: 0 100%;
        }
    }

    .header {
        margin-bottom: 2rem;

        .wrapper {
            display: flex;
            align-items: start;
            justify-content: space-between;

            .heading {
                line-height: .8;
            }

            .close-btn {
                padding: 0;
                background: unset;
            }
        }

        .input__wrapper {
            margin-top: 1rem;

            .search-input {
                padding: 1.25rem 1rem;
                width: 100%;
                border-radius: 0;
                background-color: var(--bg-color);
                border: 0;

                &:focus {
                    outline: 1px solid var(--accent-color);
                }
            }
        }
    }

    .scroller {
        max-height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        overscroll-behavior: contain;

        .preference-menu & {
            justify-content: end;

            .item__wrapper {
                display: flex;
                justify-content: space-between;
                padding: 1rem;
                background-color: var(--smt-bg);

                &.smooth-scroll {
                    display: none;

                    @media (pointer: coarse) {
                        display: none !important;
                    }
                }

                &.page-transition, &.show-loader {
                    display: none;
                }

                &.theme {

                    .btn__wrapper {
                        display: flex;
                        position: relative;
                        padding: .5rem;
                        background-color: var(--smt-bg);
                        isolation: isolate;

                        &::before {
                            content: '';
                            position: absolute;
                            inset: .5rem auto .5rem .5rem;
                            width: 3rem;
                            background: var(--accent-color);
                            z-index: -1;
                            transition: translate .3s;
                        }

                        &:has(.active:nth-child(2)) {
                            &::before {
                                translate: 100% 0;
                            }
                        }

                        &:has(.active:nth-child(3)) {
                            &::before {
                                translate: 200% 0;
                            }
                        }

                        .btn {
                            line-height: .8;
                            padding: 1rem;
                            background: none;

                            &:nth-child(2) {
                                scale: 1.25;
                            }
                        }
                    }
                }

                .title {
                    margin: 0;
                    line-height: .8;
                    text-box: trim-both cap alphabetic;
                    padding-block: .5rem;
                }

                .switch {
                    appearance: none;
                    height: 100%;
                    width: auto;
                    aspect-ratio: 2 / 1;
                    padding: .25rem;
                    background-color: var(--bg-color);
                    transition: background-color .3s;
                    cursor: pointer;

                    &::before {
                        display: block;
                        content: '';
                        height: 100%;
                        width: 50%;
                        background-color: currentColor;
                        transition: translate .3s;
                    }

                    &:checked {
                        background-color: var(--accent-color);
                        background-image: none;

                        &::before {
                            translate: 100% 0;
                        }
                    }
                }
            }

        }

        .search-menu & {
            --gap: .75rem;
            --_ms: .5rem;
            gap: calc(var(--gap) * 1.5);

            @media (width >=768px) {
                --gap: 1.25rem;
                --_ms: .9rem;
            }

            .item__wrapper {
                color: inherit;
                display: grid;
                grid-template-columns: 3fr 7fr;
                gap: var(--gap);
                container-type: inline-size;

                .img {
                    aspect-ratio: 16 / 9;
                    object-fit: cover;
                }

                .right {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .title {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        font-size: max(.9rem, 3.75cqw);
                        text-box: trim-both cap alphabetic;
                    }

                    .dec_meta {
                        font-size: var(--_ms);
                        background-color: var(--smt-bg);
                        width: fit-content;
                        padding: calc(var(--_ms) / 2) calc(var(--_ms) / 1.5);
                    }
                }
            }
        }
    }
}

.inventory__section {

    .inventory__layout {

        .header__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 1rem 2rem;

            .sec__heading {
                margin: 0;
            }

            p {
                max-width: 45ch;
            }

            margin-bottom: 1rem;
        }

        .item__wrapper {
            grid-template-rows: repeat(4, max-content);

            .item {
                --padding: .75rem;
                border: 1px solid;
                grid-row: span 4;
                display: grid;
                grid-template-rows: subgrid;
                gap: 0;

                .img {
                    aspect-ratio: 16 / 9;
                    object-fit: cover;
                }

                .title {
                    margin: 0;
                    padding: var(--padding);
                }

                .tag__wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    gap: .5rem;
                    border-block: 1px solid;
                    padding: var(--padding);

                    a {
                        display: block;
                        color: inherit;
                        font-family: var(--ff-monospace);
                        font-size: .8rem;
                        padding: .25rem .5rem;
                        background-color: var(--surface-color-2);
                    }
                }

                .action__wrapper {
                    padding: var(--padding);

                    .action__btn {
                        --padding-y: 1.5rem;
                        display: block;
                        font-family: var(--ff-monospace);
                        background-color: var(--surface-color);
                    }
                }
            }
        }

        .info__wrapper {
            &:last-child {
                @media (width >=768px) {
                    display: grid !important;
                    grid-template-columns: 1fr max-content 1fr;

                    > :last-child {
                        justify-self: end;
                    }
                }
            }
        }
    }
}