section,
.section {
    body>& {
        --edge-offset-x: 1rem;
        --padding-y: clamp(1rem, 5vh, 3rem);
        padding: var(--padding-y, var(--padding, 0)) var(--padding-x, var(--padding, 0));

        @media (width >=768px) {
            --edge-offset-x: 2rem;
        }

        @media (width >=1200px) {
            --edge-offset-x: 3rem;
        }

        @media (width >=1400px) {
            --edge-offset-x: 4rem;
        }

        &:not(.default) {
            layout {
                margin-inline: var(--edge-offset-x);
            }

            .info__wrapper {
                display: flex;
                justify-content: space-between;
                font-family: var(--ff-monospace);

                &:not(:last-child) {
                    margin-bottom: 2rem;
                }

                &:not(:first-child) {
                    margin-top: 2rem;
                }

            }
        }
    }
}