body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    min-height: 100dvh;
    display: grid;
    place-content: center;

    .nav {
        position: fixed;
        inset: .5rem 0 auto;
        margin-inline: auto;
        width: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5vw;
        background-color: antiquewhite;
        padding: .5rem;
        view-transition-name: nav;

        button, a {
            text-decoration: none;
            color: inherit;
            border: 0;
            padding: 1rem 1.5rem;
            background-color: rgb(255 255 255 / .6);
            cursor: pointer;
        }

        span {
            font-size: 2rem;
        }
    }

    h1 {
        margin: 0;
        font-size: 5vw;
        font-weight: 400;
        color: #888888;
    }
}